#root {
     height: 100%;
 }

#segment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#nav-bar {
    display: flex;
    align-items: center;
}

.negative {
    margin-left: 5px;
}